html {
  font-family: Arial, Helvetica, sans-serif, "Times New Roman", Times, serif;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
}
<<<<<<< HEAD
.navbar{
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0;
}
.head {
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background-color: #333;
=======
.head {
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: #333;
>>>>>>> c968d9d9708f39e05b3c2d905a27b3bcf3463081
}

.head span {
  float: left;
  color: white;
  padding: 2ex 2ex;
  cursor: default;
}

.head ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.head li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 2ex 2ex;
}

.head li a:hover {
  background-color: #111;
}

section {
  margin-top: 100px;
  margin-left: 20px;
  margin-bottom: 50px;
  clear: left;
}

#personal-info div {
<<<<<<< HEAD
    text-align: center;
    width: 100%;
    height: 250px;
    float: left;
    margin-bottom: 7ex;
}

#personal-info hr{
    width: 40%;
}

#personal-info .image {
    margin: auto;
    display: block;
    height: 28ex;
=======
  text-align: center;
  width: 100%;
  height: 250px;
  float: left;
  margin-bottom: 7ex;
}

#personal-info hr {
  width: 40%;
}

#personal-info .image {
  margin: auto;
  display: block;
  height: 28ex;
>>>>>>> c968d9d9708f39e05b3c2d905a27b3bcf3463081
}

#personal-info a {
  text-decoration: none;
  color: blue;
}

#personal-info a:hover {
  color: red;
  text-decoration: underline;
}

#skills {
  text-align: center;
}

#skills{
    text-align: center;
}

.progress {
<<<<<<< HEAD
    display: flex;
    height: 2rem;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color:white;
    border-radius: .25rem;
    width: 80%;
    margin-left: 30ex;
}

#education{
    text-align: center;
}

#education ul {
    padding-inline-start: 100ex;
    list-style-type: none;
=======
  display: flex;
  height: 2rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: white;
  border-radius: 0.25rem;
  width: 80%;
  margin-left: 30ex;
}

#education {
  text-align: center;
}

#education ul {
  padding-inline-start: 100ex;
  list-style-type: none;
>>>>>>> c968d9d9708f39e05b3c2d905a27b3bcf3463081
}

#education ul li {
  border: 1px solid gray;
  position: relative;
  float: left;
  margin-bottom: 100px;
  padding: 135px;
  width: 25%;
  margin-right: 70px;
}

.map {
  position: absolute;
  left: 14%;
  top: 4%;
  height: inherit;
}

.map-text {
  position: absolute;
  bottom: 11%;
  left: 32%;
  margin-top: 20px;
}

#work-experience {
  text-align: center;
}

.years {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(234, 241, 248);
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
}

.table-img {
  height: 8ex;
  margin: 0;
}

#recommendations {
  text-align: center;
}

#recommendations ul {
  list-style-type: none;
  margin-top: 50px;
  padding-left: 29%;
}

#recommendations ul li {
  float: left;
  width: 30%;
  margin-bottom: 50px;
}

.reco-img {
  height: 180px;
  border-radius: 50%;
  width: 150px;
}

.reco b:first-child {
  font-size: 25px;
}

.fa-facebook-square {
  color: #3b5998;
  font-size: 25px;
}

.fa-linkedin-square {
  color: #0e76a8;
  font-size: 25px;
}

.fa-github {
  color: black;
  font-size: 25px;
}

.footer {
  clear: both;
  width: 100%;
  text-align: center;
  background-color: gray;
  padding: 40px;
  border-radius: 15px;
  position: relative;
  margin-top: 100px;
}

.cpr {
  text-align: center;
  left: 650px;
}

.ron,
.noam {
  position: absolute;
  width: 50%;
}

.ron {
  left: 0;
}

.noam {
<<<<<<< HEAD
    right: 0;
}

@media only screen and (max-width: 767px){
    .footer{
        width: 98%;
        font-size: 65%;
    }

    .fa-facebook-square {
        font-size: 85%;
    }
    
    .fa-linkedin-square {
        font-size: 3ex;
    }
    
    .fa-github {
        font-size: 3ex;
    }
    #recommendations ul li{
        clear: both;
    }

    .reco{
        text-align: center;
        width: 20ex;
    }

    #recommendations i{
        font-size: 3ex;
    }

    .reco-icons{
        margin-left: 3.3ex;
        width: 100%;
    }

    .table-exp th ,.table-exp td{
        width: 1%;
        font-size: 1.3ex;
    }

    .table-img{
        height: 4ex;
        margin: 0;
        padding: 0;
    }

    .progress{
        width: 100%;
        font-size: 70%;

    }
    #personal-info div{
        width: 80%;
    }

    #personal-info span{
        margin-left: 6.5ex;

    }

    .head{
        width: 100%;
    }


}

@media only screen and (max-width: 1023px){
    .footer{
        width: 100%;
        font-size: 90%;
    }

    .fa-facebook-square {
        font-size: 85%;
    }
    
    .fa-linkedin-square {
        font-size: 3ex;
    }
    
    .fa-github {
        font-size: 3ex;
    }
    #recommendations ul li{
        clear: both;
        margin-left: 9ex;
    }

    .reco{
        text-align: center;
        width: 35ex;
        margin-inline-start: -6.2ex;    }

    #recommendations i{
        font-size: 3ex;
    }

    .reco-icons{
        margin-left: 0.2ex;
        width: 100%;
    }

    .table-exp th ,.table-exp td{
        font-size: 1.3ex;
    }

    .table-img{
        height: 4ex;
        margin: 0;
        padding: 0;
    }

    .progress{
        width: 90%;
        font-size: 70%;

    }
    #personal-info div{
        width: 80%;
    }

    #personal-info span{
        margin-left: 30ex;

    }

    .head{
        width: 100%;
    }


=======
  right: 0;
}

@media only screen and (max-width: 768px) {
  .footer {
    width: 98%;
    font-size: 65%;
  }

  .fa-facebook-square {
    font-size: 85%;
  }

  .fa-linkedin-square {
    font-size: 3ex;
  }

  .fa-github {
    font-size: 3ex;
  }
  #recommendations ul li {
    clear: both;
  }

  .reco {
    text-align: center;
    width: 20ex;
  }

  #recommendations i {
    font-size: 3ex;
  }

  .reco-icons {
    margin-left: 3.3ex;
    width: 100%;
  }

  .table-exp th,
  .table-exp td {
    width: 1%;
    font-size: 1.3ex;
  }

  .table-img {
    height: 4ex;
    margin: 0;
    padding: 0;
  }

  .progress {
    width: 100%;
    font-size: 70%;
  }
  #personal-info div {
    width: 80%;
  }

  #personal-info span {
    margin-left: 6.5ex;
  }

  .head {
    width: 100%;
  }

  #education ul {
    padding-inline-start: 0ex;
    list-style-type: none;
  }

  #education ul li {
    width: 20%;
  }

  .map {
    position: absolute;
    left: 6%;
    top: 4%;
    height: inherit;
  }

  .map-text {
    position: absolute;
    bottom: 11%;
    left: 28%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    width: 100%;
    font-size: 90%;
  }

  .navbar {
    width: 76%;
  }

  .fa-facebook-square {
    font-size: 85%;
  }

  .fa-linkedin-square {
    font-size: 3ex;
  }

  .fa-github {
    font-size: 3ex;
  }
  #recommendations ul li {
    clear: both;
    margin-left: 9ex;
  }

  .reco {
    text-align: center;
    width: 35ex;
    margin-inline-start: -6.2ex;
  }

  #recommendations i {
    font-size: 3ex;
  }

  .reco-icons {
    margin-left: 0.2ex;
    width: 100%;
  }

  .table-exp th,
  .table-exp td {
    font-size: 1.3ex;
  }

  .table-img {
    margin: 0;
    padding: 0;
  }

  .progress {
    width: 50%;
    font-size: 70%;
  }
  #personal-info div {
    width: 100%;
  }

  #personal-info span {
    margin-left: 30ex;
  }

  .head {
    width: 100%;
  }

  #education ul {
    padding-inline-start: 64px;
  }

  #education ul li {
    width: 10%;
  }

  .map {
    position: absolute;
    left: 6%;
    top: 4%;
    width: 88%;
  }

  .map-text {
    position: absolute;
    bottom: 11%;
    left: 22%;
    margin-top: 20px;
    margin-right: 2px;
  }
>>>>>>> c968d9d9708f39e05b3c2d905a27b3bcf3463081
}

