html {
  font-family: Arial, Helvetica, sans-serif, "Times New Roman", Times, serif;
}

body {
  background-color: rgb(248, 249, 250);
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
}

section {
  margin-top: 100px;
  margin-left: 20px;
  margin-bottom: 50px;
  clear: left;
}

#personal-info div {
  text-align: center;
  width: 100%;
  height: 250px;
  float: left;
  margin-bottom: 7ex;
}

#personal-info hr {
  width: 40%;
  border-top: 1px solid rgba(0, 0, 0, .35);
}

#personal-info .image {
  margin: auto;
  display: block;
  height: 28ex;
  border-radius: 5ex;
}

#personal-info a {
  text-decoration: none;
  color: rgb(73, 155, 231);
}

#personal-info a:hover {
  color: rgb(252, 89, 89);
}

#skills {
  text-align: center;
}

.progress {
  display: flex;
  height: 2rem;
  overflow: hidden;
  line-height: 0;
  font-size: .75rem;
  background-color: rgb(248, 249, 250);
  border-radius: .25rem;
  width: 80%;
  margin-left: 30ex;
}

#education {
  text-align: center;
}

#education ul {
  list-style-type: none;
}

#education ul li {
  border: 1px solid rgb(105, 105, 105);
  position: relative;
  float: left;
  margin-bottom: 100px;
  padding: 135px;
  width: 25%;
  margin-right: 70px;
}

.map {
  position: absolute;
  left: 14%;
  top: 4%;
  height: inherit;
}

.map-text {
  position: absolute;
  bottom: 11%;
  left: 32%;
  margin-top: 20px;
}

.years {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(234, 241, 248);
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
}

#work-experience {
  text-align: center;
  margin-left: 0;
}

.table-img {
  height: 8ex;
  margin: 0;
}

#recommendations {
  text-align: center;
}

#recommendations ul {
  list-style-type: none;
  margin-top: 50px;
  padding-left: 29%;
}

#recommendations ul li {
  float: left;
  width: 30%;
  margin-bottom: 50px;
}

.reco-img {
  height: 180px;
  border-radius: 50%;
  width: 150px;
}

.reco b:first-child {
  font-size: 25px;
}

.fa-facebook-square {
  color: #3b5998;
  font-size: 25px;
}

.fa-linkedin-square {
  color: #0e76a8;
  font-size: 25px;
}

.fa-github {
  color: black;
  font-size: 25px;
}

.footer {
  clear: both;
  width: 100%;
  text-align: center;
  background-color: gray;
  padding: 40px;
  position: relative;
  margin-top: 200px;
}

.cpr {
  text-align: center;
  left: 650px;
}

.ron, .noam {
  position: absolute;
  width: 50%;
}

.ron {
  left: 0;
}

.noam {
  right: 0;
}

@media only screen and (max-width: 768px) {
  .footer {
    width: 98%;
    font-size: 65%;
  }
  .fa-facebook-square {
    font-size: 85%;
  }
  .fa-linkedin-square {
    font-size: 3ex;
  }
  .fa-github {
    font-size: 3ex;
  }
  #recommendations ul li {
    clear: both;
  }
  .reco {
    width: 20ex;
  }
  #recommendations i {
    font-size: 3ex;
  }
  .reco-icons {
    margin-left: 3.3ex;
    width: 100%;
  }
  .table-exp th, .table-exp td {
    width: 1%;
    font-size: 1.3ex;
  }
  .table-img {
    height: 4ex;
    margin: 0;
    padding: 0;
  }
  .progress {
    width: 100%;
    font-size: 70%;
  }
  #personal-info div {
    width: 80%;
  }
  #personal-info span {
    margin-left: 6.5ex;
  }
  .head {
    width: 100%;
  }
  #education ul {
    padding-inline-start: 0ex;
    list-style-type: none;
  }
  #education ul li {
    width: 20%;
    margin-left: 20ex;
    margin-top: 4ex;
    margin-bottom: 4ex;
  }
  .map {
    position: absolute;
    left: 6%;
    top: 4%;
    height: inherit;
  }
  .map-text {
    position: absolute;
    bottom: 11%;
    left: 28%;
    margin-top: 20px;
  }
  .navbar {
    width: 100%;
  }
  #education ul li:last-child {
    margin-bottom: 12ex;
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    width: 100%;
    font-size: 90%;
  }
  .navbar {
    width: 100%;
  }
  .fa-facebook-square {
    font-size: 85%;
  }
  .fa-linkedin-square {
    font-size: 3ex;
  }
  .fa-github {
    font-size: 3ex;
  }
  #recommendations ul li {
    clear: both;
    margin-left: 9ex;
  }
  .reco {
    text-align: center;
    width: 35ex;
    margin-inline-start: -7ex;
  }
  #recommendations i {
    font-size: 3ex;
  }
  .reco-icons {
    margin-left: 0.2ex;
    width: 100%;
  }
  .table-exp th, .table-exp td {
    font-size: 1.3ex;
  }
  .table-img {
    margin: 0;
    padding: 0;
  }
  .progress {
    width: 50%;
    font-size: 70%;
  }
  #personal-info div {
    width: 100%;
  }
  #personal-info span {
    margin-left: 30ex;
  }
  .head {
    width: 100%;
  }
  
  #education ul {
    padding-inline-start: 72px;
  }
  #education ul li {
    width: 10%;
  }
  .map {
    position: absolute;
    left: 6%;
    top: 4%;
    width: 88%;
  }
  .map-text {
    position: absolute;
    bottom: 11%;
    left: 22%;
    margin-top: 20px;
    margin-right: 2px;
  }
}

@media only screen and (min-width: 1025px) and (max-width:2500px) {
  #education ul {
    padding-inline-start: 35ex;
  }
  #education ul li {
    width: 35%;
    margin-right: 13ex;
    margin-top: 3ex;
  }
  .map {
    position: absolute;
    left: 14%;
    top: 5%;
    bottom: 5%;
    height: inherit;
  }
  .map-text {
    left: 30%;
  }
}